<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Weather Details</h2>

<table>

  <tr>
    <th>Max Temp</th>
    <th>Min Temp</th>
    <th>Descripton</th>
  </tr>
<tr><td>44.16</td><td>36.72</td><td>few clouds</td></tr>
<tr><td>46.53</td><td>32.44</td><td>sky is clear</td></tr>
<tr><td>47.37</td><td>32.87</td><td>few clouds</td></tr>
<tr><td>47.06</td><td>33.37</td><td>scattered clouds</td></tr>
<tr><td>46.11</td><td>31.89</td><td>sky is clear</td></tr>
<tr><td>44.12</td><td>31.85</td><td>sky is clear</td></tr>
<tr><td>43.84</td><td>32.13</td><td>light rain</td></tr>
<tr><td>42.22</td><td>33.88</td><td>light rain</td></tr>
<tr><td>41.3</td><td>30.8</td><td>light rain</td></tr>
<tr><td>41.27</td><td>31.71</td><td>few clouds</td></tr>
 
</table>

</body>
</html>
